:root {
  --scroll-color: #324a5c;
  --scroll-hover-color: #363d4d;
  --scroll-bgcolor: #252525;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--scroll-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-hover-color);
}

::-webkit-scrollbar {
  background-color: var(--scroll-bgcolor);
  color: #cdc5b8;
}

::-webkit-scrollbar-corner {
  background-color: var(--scroll-bgcolor);
}

body {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.glass {
  box-shadow: rgb(0 0 0 / 65%) 20px 20px 60px, rgb(0 0 0 / 50%) -20px -20px 60px;
  background-color: #121212a6;
}

.animate {
  transition: all 0.5s ease;
}

.animate.left-move {
  left: 100%;
  transform: translate(-100%, 0);
}

.animate.right-move {
  right: 100%;
  transform: translate(100%, 0);
}

.animate.top-move {
  top: 100%;
  transform: translate(0, -100%);
}

.animate.bottom-move {
  bottom: 100%;
  transform: translate(0, 100%);
}

.translate-x-9999 {
  transform: translate(9999px, 0);
}

.hidden {
  display: none;
}

.form-input {
  background-color: #a1adb738;
}

.switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #51556159;
  transition: 0.3s;
  border-radius: 30px;
  border: 0.5px;
  border-style: solid;
}

.switch-span:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.6px;
  background-color: #f7be55;
  border-radius: 50%;
  transition: 0.3s;
}

.switch-input:checked + span {
  background-color: rgba(255, 255, 255, 0.91);
}

.switch-input:checked + span:before {
  transform: translateX(29px);
}

.switch-strong {
  position: absolute;
  left: 100%;
  width: max-content;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

/* See: https://stackoverflow.com/questions/8094835/how-to-style-html5-meter-tag */
meter {
  --background: #dadada18;
  --optimum: forestgreen;
  --sub-optimum: gold;
  --sub-sub-optimum: crimson;

  /* The gray background in Firefox */
  background: var(--background);
  display: block;
  /* margin-bottom: 1em; */
  width: 90%;
}

/* The gray background in Chrome, etc. */
meter::-webkit-meter-bar {
  background: var(--background);
}

/* The green (optimum) bar in Firefox */
meter:-moz-meter-optimum::-moz-meter-bar {
  background: var(--optimum);
}

/* The green (optimum) bar in Chrome etc. */
meter::-webkit-meter-optimum-value {
  background: var(--optimum);
}

/* The yellow (sub-optimum) bar in Firefox */
meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: var(--sub-optimum);
}

/* The yellow (sub-optimum) bar in Chrome etc. */
meter::-webkit-meter-suboptimum-value {
  background: var(--sub-optimum);
}

/* The red (even less good) bar in Firefox */
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: var(--sub-sub-optimum);
}

/* The red (even less good) bar in Chrome etc. */
meter::-webkit-meter-even-less-good-value {
  background: var(--sub-sub-optimum);
}
